In [ ]:
#Importar datasets: eleições, isolamento, mortes COVID
#Manipular 
#Extrair resultados

In [ ]:
#Premissa: candidatos que foram pra urna, independentemente da situação judicial, tinham o incentivo eleitoral (expectativa de serem reeleitos)
#Consideraremos os incentivos até o primeiro turno (15/11), isso vale para todos os dados inclusive %isolamento, mortes e etc

In [1]:
import pandas as pd

In [2]:
elc_sp = pd.read_csv(r'C:\Users\guilh\Documents\consulta_cand_2020\consulta_cand_2020_SP.csv',sep=';',encoding='latin1')

In [ ]:
elc_sp.head()

In [ ]:
elc_sp.info()

In [ ]:
elc_sp.apply(lambda col: col.unique())

In [ ]:
elc_sp['ST_CANDIDATO_INSERIDO_URNA'].value_counts()

In [25]:
t = elc_sp[elc_sp['ST_CANDIDATO_INSERIDO_URNA']=='SIM']

In [26]:
t = t[(t['DS_CARGO']=='PREFEITO')&(t['ST_REELEICAO']=='S')]

In [27]:
t['DS_SITUACAO_CANDIDATURA'].unique()

array(['APTO', 'INAPTO'], dtype=object)

In [28]:
t['DS_DETALHE_SITUACAO_CAND'].value_counts()

DEFERIDO                  219
INDEFERIDO                  6
DEFERIDO COM RECURSO        6
INDEFERIDO COM RECURSO      6
CASSADO COM RECURSO         2
RENÚNCIA                    1
Name: DS_DETALHE_SITUACAO_CAND, dtype: int64

In [31]:
t['DS_SITUACAO_CANDIDATO_URNA'].value_counts()

DEFERIDO                  207
DEFERIDO COM RECURSO       16
INDEFERIDO COM RECURSO     15
CASSADO COM RECURSO         1
RENÚNCIA                    1
Name: DS_SITUACAO_CANDIDATO_PLEITO, dtype: int64

In [ ]:
elc_sp.groupby('DS_SITUACAO_CANDIDATO_URNA').count()

In [32]:
elc_sp = elc_sp[['CD_TIPO_ELEICAO','NR_TURNO','NM_UE','DS_CARGO','SQ_CANDIDATO','ST_CANDIDATO_INSERIDO_URNA','ST_REELEICAO']]

In [ ]:
elc_sp['DS_CARGO'].unique()

In [33]:
elc_sp = elc_sp[elc_sp['DS_CARGO']=='PREFEITO']

In [ ]:
#Tamanho da amostra
elc_sp.groupby(['ST_REELEICAO','DS_SITUACAO_CANDIDATURA']).count()

In [ ]:
#Premissa sobre estar APTO ou INAPTO, candidatos INAPTO têm incentivos eleitorais?

In [ ]:
elc_sp.head()

In [34]:
elc_sp.loc[elc_sp['ST_REELEICAO'] == 'S','ST_REELEICAO'] = 1
elc_sp.loc[elc_sp['ST_REELEICAO'] == 'N','ST_REELEICAO'] = 0

In [ ]:
elc_sp.head()

In [35]:
elc_sp = elc_sp[elc_sp['NR_TURNO']==1]

In [ ]:
#Premissa: incentivos eleitorais valem até o fim do período eleitoral, i.e, 1º e 2º turnos

In [ ]:
#Premissa: consideraremos se o candidato pôde participar do processo eleitoral, mesmo que fosse indeferido depois 
#7 eleições suplementares:
#Com possibilidade de reeleição: APIAÍ,CAMPINA DO MONTE ALEGRE

In [ ]:
elc_sp[elc_sp['CD_TIPO_ELEICAO']==1]['NM_UE'].unique()

In [ ]:
elc_sp[elc_sp['CD_TIPO_ELEICAO']==1]

In [36]:
elc_sp = elc_sp[elc_sp['CD_TIPO_ELEICAO']==2]

In [ ]:
elc_sp.head()

In [37]:
#Testes de validades dos filtros aplicados nos dados
elc_sp[(elc_sp['NR_TURNO']==2)|(elc_sp['CD_TIPO_ELEICAO']!=2)|(elc_sp['DS_CARGO']!='PREFEITO')]

Empty DataFrame
Columns: [CD_TIPO_ELEICAO, NR_TURNO, NM_UE, DS_CARGO, SQ_CANDIDATO, ST_CANDIDATO_INSERIDO_URNA, ST_REELEICAO]
Index: []

In [53]:
D = elc_sp[elc_sp['ST_CANDIDATO_INSERIDO_URNA']=='SIM']

In [54]:
D = elc_sp.groupby(['NM_UE','ST_REELEICAO']).count().reset_index()[['NM_UE','ST_REELEICAO']]

In [55]:
D

                  NM_UE  ST_REELEICAO
0            ADAMANTINA             0
1            ADAMANTINA             1
2                ADOLFO             0
3                ADOLFO             1
4                 AGUAÍ             0
..                  ...           ...
870     ÁLVARES MACHADO             0
871     ÁLVARES MACHADO             1
872  ÁLVARO DE CARVALHO             0
873                ÓLEO             0
874                ÓLEO             1

[875 rows x 2 columns]

In [56]:
D = D.groupby('NM_UE').sum().reset_index()

In [57]:
D

                  NM_UE  ST_REELEICAO
0            ADAMANTINA             1
1                ADOLFO             1
2                 AGUAÍ             1
3                AGUDOS             0
4              ALAMBARI             0
..                  ...           ...
640  ÁGUAS DE SÃO PEDRO             0
641    ÁLVARES FLORENCE             0
642     ÁLVARES MACHADO             1
643  ÁLVARO DE CARVALHO             0
644                ÓLEO             1

[645 rows x 2 columns]

In [58]:
D['ST_REELEICAO'].value_counts()

0    410
1    235
Name: ST_REELEICAO, dtype: int64

In [64]:
D[D['NM_UE'] == 'SALMOURÃO']

         NM_UE  ST_REELEICAO
499  SALMOURÃO             1

In [65]:
D.to_csv(r'C:\Users\guilh\Documents\consulta_cand_2020\consulta_cand_reeleicao_2020_SP.csv',sep=';',encoding='latin1')

In [66]:
D.head()

        NM_UE  ST_REELEICAO
0  ADAMANTINA             1
1      ADOLFO             1
2       AGUAÍ             1
3      AGUDOS             0
4    ALAMBARI             0